# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
Top-Down-Shooter/[Ll]ibrary/
Top-Down-Shooter/[Tt]emp/
Top-Down-Shooter/[Oo]bj/
Top-Down-Shooter/[Bb]uild/
Top-Down-Shooter/[Bb]uilds/
Top-Down-Shooter/[Ll]ogs/
Top-Down-Shooter/[Uu]ser[Ss]ettings/
Top-Down-Shooter/.vs/

Pathfinding/[Ll]ibrary/
Pathfinding/[Tt]emp/
Pathfinding/[Oo]bj/
Pathfinding/[Bb]uild/
Pathfinding/[Bb]uilds/
Pathfinding/[Ll]ogs/
Pathfinding/[Uu]ser[Ss]ettings/
Pathfinding/.vs/

Waypoints/[Ll]ibrary/
Waypoints/[Tt]emp/
Waypoints/[Oo]bj/
Waypoints/[Bb]uild/
Waypoints/[Bb]uilds/
Waypoints/[Ll]ogs/
Waypoints/[Uu]ser[Ss]ettings/
Waypoints/.vs/

Navigation-Mesh/[Ll]ibrary/
Navigation-Mesh/[Tt]emp/
Navigation-Mesh/[Oo]bj/
Navigation-Mesh/[Bb]uild/
Navigation-Mesh/[Bb]uilds/
Navigation-Mesh/[Ll]ogs/
Navigation-Mesh/[Uu]ser[Ss]ettings/
Navigation-Mesh/.vs/

FlappyBird/[Ll]ibrary/
FlappyBird/[Tt]emp/
FlappyBird/[Oo]bj/
FlappyBird/[Bb]uild/
FlappyBird/[Bb]uilds/
FlappyBird/[Ll]ogs/
FlappyBird/[Uu]ser[Ss]ettings/
FlappyBird/.vs/

Othello/[Ll]ibrary/
Othello/[Tt]emp/
Othello/[Oo]bj/
Othello/[Bb]uild/
Othello/[Bb]uilds/
Othello/[Ll]ogs/
Othello/[Uu]ser[Ss]ettings/
Othello/.vs/

Mathematics/[Ll]ibrary/
Mathematics/[Tt]emp/
Mathematics/[Oo]bj/
Mathematics/[Bb]uild/
Mathematics/[Bb]uilds/
Mathematics/[Ll]ogs/
Mathematics/[Uu]ser[Ss]ettings/
Mathematics/.vs/

SteeringBehaviors/[Ll]ibrary/
SteeringBehaviors/[Tt]emp/
SteeringBehaviors/[Oo]bj/
SteeringBehaviors/[Bb]uild/
SteeringBehaviors/[Bb]uilds/
SteeringBehaviors/[Ll]ogs/
SteeringBehaviors/[Uu]ser[Ss]ettings/
SteeringBehaviors/.vs/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Top-Down-Shooter/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Top-Down-Shooter/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
Top-Down-Shooter/.vs/

# Gradle cache directory
Top-Down-Shooter/.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
Top-Down-Shooter/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
Top-Down-Shooter/[Aa]ssets/[Ss]treamingAssets/aa.meta
Top-Down-Shooter/[Aa]ssets/[Ss]treamingAssets/aa/*
